# Variables in Python

In [1]:
x=22
print(x)

22

In [2]:
y=11
print(y)

11

In [5]:
X=33
print(X)
print(x)
x=44
print(x)

33
22
44

In [6]:
x='praveenkumar'
print(x)

praveenkumar

In [7]:
type(x)

str

In [8]:
type(y)

int

In [12]:
x,y,z=' praveen',' kumar',' naveen'
print(x+y+z)
print(x)
print(y)
print(z)

 praveen kumar naveen
 praveen
 kumar
 naveen

In [16]:
x=y=z= 'csp'
print(x)
print(y)
print(z)

csp
csp
csp

In [17]:
#list variables
cricket_players = ['sachin','dhoni','kohli']
x,y,z = cricket_players
print(x)
print(y)
print(z)

sachin
dhoni
kohli

In [2]:
x='cricket'
y=' world cup'
z=' 2023 india'
print(x+y+z)

cricket world cup 2023 india

In [25]:
x=1
y=2
z=3
print(x+y+z)

6

In [27]:
#camel case 
testVariableCase = 'praveen'
#pascal case
TestVariableCase = 'praveen'
#snake case
test_variable_case = 'praveen'

# Data Types

In [30]:
type(100 + (-24))

int

In [31]:
type(10 + 5.50)

float

In [32]:
type(10 + 5j)

complex

In [33]:
#Boolean
1 < 5

True

In [36]:
2 == 3

False

In [37]:
#strings
'Single Quote'

'Single Quote'

In [38]:
"Double Quote"

'Double Quote'

In [40]:
first_program = """
write python program
x=10
print(x)

"""

In [41]:
print(first_program)

write python program
x=10
print(x)

In [46]:
var_1 = """

I've always wanted to play "cricket" 

"""

In [47]:
print(var_1)

I've always wanted to play "cricket"

In [7]:
a = 'Hello python'

In [51]:
print (a[:5])

Hello

In [52]:
print (a[2:5])

llo

In [11]:
print (a[-1])

n

In [57]:
a*3

'Hello pythonHello pythonHello python'

In [58]:
a+a

'Hello pythonHello python'

In [59]:
#List

[1,2,3]

[1, 2, 3]

In [61]:
['praveen', 'jana', 'naveen']

['praveen', 'jana', 'naveen']

In [2]:
['Chennai', 2, ['Bandahalli', 'Dharmapuri'], True]

['Chennai', 2, ['Bandahalli', 'Dharmapuri'], True]

In [4]:
name = ['praveen', 'jana', 'naveen']
name.append('kumar')
name

['praveen', 'jana', 'naveen', 'kumar']

In [5]:
name[0] = 'Sakthivel'
name

['Sakthivel', 'jana', 'naveen', 'kumar']

In [8]:
nest_list = ['Chennai', 2, ['Bandahalli', 'Dharmapuri'], True]

nest_list[2][1]

'Dharmapuri'

In [10]:
nest_list[2][0]

'Bandahalli'

In [15]:
#Tuples

tuple_value = (1,2,3,2,1)

In [14]:
type(tuple_value)

tuple

In [14]:
#tuple_value.append(3) --- tuple is fixed cannot append and list can append

In [15]:
tuple_value[1]

2

In [16]:
#sets

sets_values = {1,2,3,4,5}

In [17]:
sets_values

{1, 2, 3, 4, 5}

In [18]:
type(sets_values)

set

In [20]:
sets_values = {1,2,3,4,5,1,2,4,5,6}
sets_values
# set will print unique values

{1, 2, 3, 4, 5, 6}

In [22]:
my_log = {10,45,50,43,24}
friend_log = {10,22,24,30,35}

In [23]:
print(my_log | friend_log)
#combined unique number print one time

{35, 10, 43, 45, 50, 22, 24, 30}

In [24]:
print(my_log & friend_log)
# common number

{24, 10}

In [25]:
print(my_log - friend_log)
# does not match number in my_log

{50, 43, 45}

In [26]:
print(friend_log - my_log)
# does not match number in friend_log

{35, 22, 30}

In [27]:
print(my_log ^ friend_log)
#unique number in both sets

{50, 35, 22, 43, 45, 30}

In [28]:
# Dictionaries
# key/value pair

dict_emp = {'name':'praveen', 'emp_id': 1001, 'role': ['Analyst', 'engineer']}

In [29]:
dict_emp

{'name': 'praveen', 'emp_id': 1001, 'role': ['Analyst', 'engineer']}

In [30]:
type(dict_emp)

dict

In [31]:
dict_emp.keys()

dict_keys(['name', 'emp_id', 'role'])

In [32]:
dict_emp.values()

dict_values(['praveen', 1001, ['Analyst', 'engineer']])

In [33]:
dict_emp['name']

'praveen'

In [34]:
dict_emp['name'] = 'Praveenkumar sakthivel'
dict_emp

{'name': 'Praveenkumar sakthivel',
 'emp_id': 1001,
 'role': ['Analyst', 'engineer']}

In [35]:
dict_emp.items()

dict_items([('name', 'Praveenkumar sakthivel'), ('emp_id', 1001), ('role', ['Analyst', 'engineer'])])

In [37]:
dict_emp.update({'name': 'Praveenkumar sakthivel', 'emp_id': 1001, 'salary': 30000})
dict_emp

{'name': 'Praveenkumar sakthivel',
 'emp_id': 1001,
 'role': ['Analyst', 'engineer'],
 'salary': 30000}

In [38]:
del dict_emp['salary']
dict_emp

{'name': 'Praveenkumar sakthivel',
 'emp_id': 1001,
 'role': ['Analyst', 'engineer']}

# Membership operator

In [21]:
cricket_game = 'World cup 2023 india'
'cup' in cricket_game

True

In [23]:
cricket_cups = [2011,1983,2023]
2025 not in cricket_cups

True

In [25]:
cricket_cups = [2011,2023,1983]
next_cup = 2027
next_cup in cricket_cups

False

In [26]:
cricket_cups = [2011,2023,1983]
next_cup = 2027
next_cup not in cricket_cups

True

# If - Elif - Else Statement

In [31]:
if 10 < 20:
    print('py')
else:
    print('python')

py

In [36]:
if(10 < 5) or (15 < 10):
    print('first')
elif(20 > 30):
    print('1st elif')
elif(30 > 100):
    print('2nd elif')
elif(30 > 50):
    print('3rd elif')
else:
    print('final')

final

In [37]:
if(10 < 5) or (15 < 10):
    print('first')
elif(20 > 30):
    print('1st elif')
elif(30 > 10):
    print('2nd elif')
elif(30 > 50):
    print('3rd elif')
else:
    print('final')

2nd elif

In [39]:
print('py') if 10<5 else ('python')

'python'

In [10]:
if(10 < 5) or (15 < 20):
    print('first')
    if(20 < 30):
        print('nested statement')
elif(20 > 30):
    print('1st elif')
elif(30 > 100):
    print('2nd elif')
elif(30 > 50):
    print('3rd elif')
else:
    print('final')

first
nested statement

# For Loop

In [11]:
integer = [1,2,3,4,5]

In [50]:
for n1 in integer:
    print(n1)

1
2
3
4
5

In [52]:
for n2 in integer:
    print('yes!')

yes!
yes!
yes!
yes!
yes!

In [53]:
for games in integer:
    print(games + games)

2
4
6
8
10

In [4]:
emp_dtl_dict = {'name': 'praveen', 'empid': '1001', 'emprole': ['Analyst', 'software engineer']}

In [5]:
emp_dtl_dict

{'name': 'praveen',
 'empid': '1001',
 'emprole': ['Analyst', 'software engineer']}

In [6]:
for empinfo in emp_dtl_dict.values():
    print(empinfo)

praveen
1001
['Analyst', 'software engineer']

In [7]:
for key, value in emp_dtl_dict.items():
    print(key,'->',value)

name -> praveen
empid -> 1001
emprole -> ['Analyst', 'software engineer']

In [12]:
cricket_format = ['T20I', 'ODI', 'Test', 'TOP8']
cricket_game = ['WT20','WC','WTC','CT']

In [13]:
for one in cricket_format:
    for two in cricket_game:
        print(one,' Match With ', two)

T20I  Match With  WT20
T20I  Match With  WC
T20I  Match With  WTC
T20I  Match With  CT
ODI  Match With  WT20
ODI  Match With  WC
ODI  Match With  WTC
ODI  Match With  CT
Test  Match With  WT20
Test  Match With  WC
Test  Match With  WTC
Test  Match With  CT
TOP8  Match With  WT20
TOP8  Match With  WC
TOP8  Match With  WTC
TOP8  Match With  CT

# While Loop

In [ ]:
number = 0

while number < 5:
    print(number)
    number = number + 1

In [ ]:
number = 0

while number < 10:
    print(number)
#    if number == 5:
 #       break
        number = number + 1